::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  opacity: 0.2;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  opacity: 0.2;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
  opacity: 0.2;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
  opacity: 0.2;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

input[type=submit] {
  -webkit-border-radius:0px;
  -webkit-appearance: none;
}

.form-location {
  position: fixed;
  position: -webkit-sticky;
  bottom: 0;
  border: 0;
  width: 100%;
  display: flex;
}

.sumbit-search {
  background-color: #174878;
  color: #fff;
  flex-grow: 1;
  outline: none;
  border: none;
  font-size: 1em
}
.sumbit-search:hover {
  background-color: #156d8d
}

.weather-input {
  padding: 5px 5px 5px 10px ;
  background-color: #fff;
  border: none;
  outline: none;
  flex-grow: 1;
  color: #796969;
  font-size: 1.2em;
  height: 35px;
  font-family: 'Roboto', sans-serif;
}
