.wi-celsius {
  font-size: 6em;
  margin-left: 5px;
  position: relative;
  color: #fff;

}
.temperature {
  display: inline-block;
  color: #fff;
  font-family: 'Arial';
  font-weight: 100;
  font-size: 7em;
  margin: 0 0 0 0;
  font-family: 'Jura', sans-serif
}
